TF-IDF

In [1]:
text = [
    '공부 하고 싶다',
    '공부 하기 싫다',
    '공부 내일 할까',
    '공부 하고 놀기',
    '놀기 말고 놀기'
]
from math import log
import pandas as pd

In [2]:
voc = list(set(단어 for 문장 in text for 단어 in 문장.split()))
voc

['놀기', '싶다', '하기', '내일', '싫다', '공부', '할까', '하고', '말고']

In [3]:
n = len(text)
n

5

In [4]:
def tf(t,d):
    return d.count(t)

def idf(t):
    df = 0
    for 문장 in text:
        df += t in 문장
    return log(n/(df+1))
               
def tfidf(t,d):
    return tf(t,d)*idf(t)

DTM

In [5]:
t_l = []
for i in range(n):
    t_l.append([])
    d=text[i]
    for j in range(len(voc)):
        t =voc[j]
        t_l[-1].append(tf(t,d)) #t_l[-1] : t_l리스트의 마지막 공간
tf_=pd.DataFrame(t_l,columns=voc)
tf_

   놀기  싶다  하기  내일  싫다  공부  할까  하고  말고
0   0   1   0   0   0   1   0   1   0
1   0   0   1   0   1   1   0   0   0
2   0   0   0   1   0   1   1   0   0
3   1   0   0   0   0   1   0   1   0
4   2   0   0   0   0   0   0   0   1

In [6]:
idf_l = []
for i in range(len(voc)):
    t = voc[i]
    idf_l.append(idf(t))
idf_= pd.DataFrame(idf_l,index = voc, columns=['IDF'])
idf_

         IDF
놀기  0.510826
싶다  0.916291
하기  0.916291
내일  0.916291
싫다  0.916291
공부  0.000000
할까  0.916291
하고  0.510826
말고  0.916291

In [7]:
tf_idf_l = []
for i in range(n):
    tf_idf_l.append([])
    d=text[i]
    for j in range(len(voc)):
        t =voc[j]
        tf_idf_l[-1].append(tfidf(t,d))
tf_idf_=pd.DataFrame(tf_idf_l,columns=voc)
tf_idf_

,놀기,싶다,하기,내일,싫다,공부,할까,하고,말고
0,0.000000,0.916291,0.000000,0.000000,0.000000,0.0,0.000000,0.510826,0.000000
1,0.000000,0.000000,0.916291,0.000000,0.916291,0.0,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.916291,0.000000,0.0,0.916291,0.000000,0.000000
3,0.510826,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.510826,0.000000
4,1.021651,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.916291

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
text

['공부 하고 싶다', '공부 하기 싫다', '공부 내일 할까', '공부 하고 놀기', '놀기 말고 놀기']

In [9]:
tfidfv = TfidfVectorizer().fit(text)
tfidfv.vocabulary_

{'공부': 0,
 '하고': 6,
 '싶다': 5,
 '하기': 7,
 '싫다': 4,
 '내일': 1,
 '할까': 8,
 '놀기': 2,
 '말고': 3}

In [10]:
tfidfv.transform(text).toarray()

array([[0.40156512, 0.        , 0.        , 0.        , 0.        ,
        0.71277522, 0.57506256, 0.        , 0.        ],
       [0.37008621, 0.        , 0.        , 0.        , 0.65690037,
        0.        , 0.        , 0.65690037, 0.        ],
       [0.37008621, 0.65690037, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.65690037],
       [0.44274009, 0.        , 0.63402729, 0.        , 0.        ,
        0.        , 0.63402729, 0.        , 0.        ],
       [0.        , 0.        , 0.85000275, 0.52677825, 0.        ,
        0.        , 0.        , 0.        , 0.        ]])